{% extends 'base.html' %}
{% block follow_head %}
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl" action="/search/">
			<form action="/search/" method="get">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{count_sum}}</div>
		</div>
	</div>
	{% block body %}{% endblock body%}
{% endblock follow_head %}
