{% extends 'base.html' %}
{% block follow_head %}
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<form action="/search/" method="get">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info/" id="info">· 个人信息</a></li>
				<li><a href="/user/user_center_order_1/" id="order">· 全部订单</a></li>
				<li><a href="/user/user_center_site/" id="site">· 收货地址</a></li>
			</ul>
		</div>
	{% block right_part %}{% endblock right_part %}
{% endblock follow_head %}

